:root{
    --cor-primairia: #183C63;
    --cor-secundaria: #ffff;
    --cor-titulo: #FFDD00;
    --cor-fundo: #ffff;
    --cor-texto: #183C63;
    --cor-contraste: #FFDD00;
    --cor-botao: #0000;
}

.tema-escuro{
    --cor-primairia: #FFDD00;
    --cor-secundaria: #0000;
    --cor-titulo: #183C63;
    --cor-fundo: #2e2e2e;
    --cor-texto: #183C63;
    --cor-contraste: #0000;
    --cor-botao: #e5e74b;
}


body {
    max-width: 100vw;
}

header {
    background-color: var(--cor-primairia);
    color: var(--cor-contraste);
    text-align: center;
    margin: 0 auto;
    padding: 16px;
    border-radius: 30px;
    backdrop-filter: blur(40px);
    border: 1px solid rgba(32, 15, 15, 0.2);

}

p{
 color: var(--cor-texto)
}

h1{
   position: relative;
   display: inline-block;
   font-size: 70px;
   font-family: 'Poppins', sans-serif;
   font-weight: 800;
   letter-spacing: 2px;
   color: transparent;
   -webkit-text-stroke: 2px var(--cor-titulo) ;
   cursor: pointer;
   white-space: nowrap;
   user-select: none;

}

h1::before{
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-stroke: 2px var(--cor-texto) ;
    color: var(--cor-texto);
    transition: 0.5s ease;
}

h1:hover::before{
    width: 100%;
}

main {
    background-color: var(--cor-fundo);
    color: var(--cor-primairia);
    margin: 0 auto;
    padding: 16px;
    gap: 16px;

    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    border: 1px solid var(--cor-primairia);

    margin: 16px;
    gap: 16px;
    padding: 16px;

    flex: 1 1 25%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.artigo-autor {
    font-weight: bold;
}

.imagem-logo {
    width: 80px;
    height: 80px;
    filter: drop-shadow(0px 0px 12px grey);
    border-radius: 55%;
    object-fit: cover;
}

.imagem-html{
    width: 55px;
    height: 55px;
    filter: drop-shadow(0px 0px 12px grey);
    margin-right: 15px;
}

.imagem-css{
    width: 55px;
    height: 55px;
    filter: drop-shadow(0px 0px 12px grey);
    margin-right: 15px;
}

.imagem-js{
    width: 50px;
    height: 50px;
    filter: drop-shadow(0px 0px 12px grey);
    margin-right: 15px;
}

.imagem-py{
    width: 45px;
    height: 45px;
    filter: drop-shadow(0px 0px 12px grey);
    margin-right: 15px;
}

.imagem-coracao,
.imagem-polegar {
    width: 20px;
    height: 20px;
}

.button-1 {
    width: 50px;
    height: 25px;
    padding: 10px;
    border: 2px solid #183C63;
    border-radius: 5px;
    margin: 0;
    transition-duration: 0.4s;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button-1:hover {
    background-color: #183c632f; 
    color: #ffffff;     
    box-shadow: 0 8px 16px 0 rgba(114, 114, 114, 0.6);
}

.button-2 {
    width: 50px;
    height: 25px;
    padding: 10px;
    border: 2px solid #183C63;
    border-radius: 5px;
    margin: 0;
    transition-duration: 0.4s;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button-2:hover {
     background-color: #183c632f; 
    color: #ffffff;     
    box-shadow: 0 8px 16px 0 rgba(114, 114, 114, 0.6);
}
