body {
    max-width: 100vw;
}

header {
    background-color: #183C63;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    padding: 16px;
    border-radius: 30px;
    backdrop-filter: blur(40px);
    border: 1px solid rgba(32, 15, 15, 0.2);
}


main {
    background-color: #ffffff;
    color: #183C63;
    margin: 0 auto;
    padding: 16px;
    gap: 16px;

    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    border: 1px solid #183C63;

    margin: 16px;
    gap: 16px;
    padding: 16px;

    flex: 1 1 25%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.artigo-autor {
    font-weight: bold;
}

.imagem-logo {
    width: 80px;
    height: 80px;
    filter: drop-shadow(0px 0px 12px grey);
}

.imagem-html{
    width: 55px;
    height: 55px;
    filter: drop-shadow(0px 0px 12px grey);
    margin-right: 15px;
}

.imagem-css{
    width: 55px;
    height: 55px;
    filter: drop-shadow(0px 0px 12px grey);
    margin-right: 15px;
}

.imagem-js{
    width: 50px;
    height: 50px;
    filter: drop-shadow(0px 0px 12px grey);
    margin-right: 15px;
}

.imagem-py{
    width: 45px;
    height: 45px;
    filter: drop-shadow(0px 0px 12px grey);
    margin-right: 15px;
}

.imagem-coracao,
.imagem-polegar {
    width: 20px;
    height: 20px;
}

.button-1 {
    width: 50px;
    height: 25px;
    padding: 10px;
    border: 2px solid #183C63;
    border-radius: 5px;
    margin: 0;
    transition-duration: 0.4s;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button-1:hover {
    background-color: #183c635e; 
    color: #ffffff;     
    box-shadow: 0 8px 16px 0 rgba(114, 114, 114, 0.6);
}

.button-2 {
    width: 50px;
    height: 25px;
    padding: 10px;
    border: 2px solid #183C63;
    border-radius: 5px;
    margin: 0;
    transition-duration: 0.4s;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button-2:hover {
     background-color: #183c635e; 
    color: #ffffff;     
    box-shadow: 0 8px 16px 0 rgba(114, 114, 114, 0.6);
}
